*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: gray;
}
#main-box{
  height: 508px;
  width: 450px;
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 5px;
  background-color: rgb(19, 18, 18);
  border: 2px solid black;
}
#display{
  height: 100px;
  width: 100%;
  font-size: 50px;
  background-color: rgb(19, 18, 18);
  color: white;
  border: none;
}
#buttons{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
  justify-content: center;
  align-items: center;
}
#btn{
  padding: 30px 40px;
  border-radius: 5px;
  border: none;
  background-color: rgb(107, 106, 106);
  color: white;
  font-size: 17px;
}
#buttons button:nth-child(1) {
  background-color: rgb(185, 19, 41);
}
#buttons button:nth-child(2),
#buttons button:nth-child(3),
#buttons button:nth-child(4),
#buttons button:nth-child(8),
#buttons button:nth-child(12),
#buttons button:nth-child(16) {
  background-color: rgb(242, 116, 53);
}
#buttons button:nth-child(19){
  background-color: rgb(19, 126, 3);
}

