*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: gray;
}
#main-box{
  height: 400px;
  width: 350px;
  border: 1px solid black;
  margin-top: 50px;
  border-radius: 10px;
}
#text{
  height: 100px;
  width: 100%;
  font-size: 50px;
  background-color: rgb(87, 85, 85);
  color: white;
}
